.barra {
    background-color: #0C152A;
    height: 100%;
    text-decoration: none;
    position: fixed;
    margin-top: -18px;
    color:#fff;
  }

#cor {
color:#fff;
text-decoration: none;
}


.container-fluid{
padding:0 !important;
}

.container{
padding:0 !important;
}