.conteudo {

  min-height: 100vh; 
  margin: 2px;
  padding: 2px;
}

.editando{
  border: black 2px solid;
  width: 250px;
  height: 250px;
  margin-top: 2000;
  font-size: 14px;
}
.editando form{
  line-height: 4px
}

/* .Cabecalho{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

header{
  text-align: center;
  background-color: #6F0CC2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 9px 0;
  
}

footer{
  text-align: center;
  background-color: #6F0CC2;
  width: 100%;
  padding: 9px 0;  
}

footer li{
  max-width: 1100px;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0 1%;
}

main{
  background-color: #A536F5;
  min-height: 100vh;
}


.Conteudo-inicio1{
  padding-top: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Conteudo-inicio2{
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Cabecalho{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5%;
  color: white;
  font-size: large;
  font-weight: bolder;
}

header li{
  display: inline-block;
  padding: 0 10px;

}

header a{
  text-decoration: none;
  color: white;
  text-shadow: black 3px 3px 3px, black 2px 2px 2px ;
}


html {
  height: 100%;
}
body { min-height: 100vh; }

.main{
  align-items: center;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.title{
  display: flex;
  justify-content: center;
}


.botoes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px;
  width: 120px;
}
.item {
  height: 450px;
  line-height: 4px ;
  width: 400px;
  color:white;
  display: flex;
  background-color:#6a1fa0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  border-radius: 20px;
  padding: 4px;
  margin: 10px;
  text-shadow: black 3px 3px 3px, black 2px 2px 2px ;
}

.item img{
  max-height: 200px;
  max-width: 200px;
}

.main{
  justify-content: center;
}